iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

footer div{
  border-top: 1px solid black;
  font-size:12; 
  color:gray; 
  background-color: rgba(0,0,0,.7);
  /*  
    if someone can figure out a way to do this --right-- then please add it!
    there is a bug currently where the subsequent children are getting affected by the shadow
    which is not wanted by this following line: 
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,.7);
  */
}

/* media querys */
@media (min-aspect-ratio: 16/9) {
  iframe {
    height: 300%; top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  iframe {
    width: 300%; left: -100%;
  }
}

/* Sprites */
/*  
  To understand how this was generated, as well as the file sprites.png, see here
  http://css.spritegen.com/
*/
.mongo { object-position: -5px -0px; width: 83px; height: 22px; object-fit: none;}
.heroku { object-position: -5px -27px; width: 77px; height: 34px; object-fit: none;}
.socketio { object-position: -5px -66px; width: 65px; height: 30px; object-fit: none;}
.node { object-position: -5px -101px; width: 37px; height: 23px; object-fit: none;}
.github { object-position: -47px -101px; width: 32px; height: 32px; object-fit: none;}
.discord { object-position: -5px -129px; width: 29px; height: 29px; object-fit: none;}