@team1color: #C82333;
@team2color: #0069D9;
@inboundcolor: #1A1A1A;

html {
  font-size: 20px;
}

iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

footer div{
  border-top: 1px solid black;
  font-size:12; 
  color:gray; 
  background-color: rgba(0,0,0,.7);
  /*  
    if someone can figure out a way to do this --right-- then please add it!
    there is a bug currently where the subsequent children are getting affected by the shadow
    which is not wanted by this following line: 
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,.7);
  */
}

.team1head {
  flex:1;
  text-shadow: -10px 0px 50px rgba(255,0,0,.5);
}

.inboundhead {
  flex:1;
  text-shadow: 0px 0px 50px rgba(255,255,255,.5);
}

.team2head {
  flex:1;
  text-shadow: 10px 0px 50px rgba(0,0,255,.5);
}

.brawlplayer{
  width: 100%;
}

.uclick {
  border-radius: 0;
}

.uclick.light.pteam1 {
  border-color: @team1color;
  background-color: @team1color;
}

.uclick.dark.pteam1 {
  border-color: darken(@team1color, 5%);
  background-color: darken(@team1color, 5%);
}

.uclick.light.pteam2 {
  border-color: @team2color;
  background-color: @team2color;
}

.uclick.dark.pteam2 {
  border-color: darken(@team2color, 5%);
  background-color: darken(@team2color, 5%);
}

.uclick.light.pinbound {
  border-color: @inboundcolor;
  background-color: @inboundcolor;
}

.uclick.dark.pinbound {
  border-color: darken(@inboundcolor, 5%);
  background-color: darken(@inboundcolor, 5%);
}

.createjoin {
  background-color: black; 
  height: 100px; 
}

.black {
  background-color: black;
}

#t1stocks, #t2stocks {
  padding-right: 10px;
}

.stocks {
  padding-left: 10px;
}

/* media querys */
@media screen and (max-width: 991px)  {
  .display-4 {
    font-size: 50;
  }
}

@media screen and (max-width: 766px)  {
  .display-4 {
    font-size: 40;
  }
  #games {
    height: 250px !important;
  }
  .leave {
    margin-top: 20px;
  }
  .stocks {
    padding: 0 !important;
  }
}

@media screen and (max-width: 570px)  {
  .display-4 {
    font-size: 30;
  }
}

@media screen and (max-width: 535px)  {
  .stocks {
    font-size: 12;
  }
}

/* Sprites */
/*  
  To understand how this was generated, as well as the file sprites.png, see here
  http://css.spritegen.com/
*/
.mongo { object-position: -5px -0px; width: 83px; height: 22px; object-fit: none;}
.heroku { object-position: -5px -27px; width: 77px; height: 34px; object-fit: none;}
.socketio { object-position: -5px -66px; width: 65px; height: 30px; object-fit: none;}
.node { object-position: -5px -101px; width: 37px; height: 23px; object-fit: none;}
.github { object-position: -47px -101px; width: 32px; height: 32px; object-fit: none;}
.discord { object-position: -5px -129px; width: 29px; height: 29px; object-fit: none;}